@import "tailwindcss";

@theme {
  --color-primary: var(--color-emerald-600);
  --color-secondary: var(--color-amber-400);
  --color-accent: var(--color-yellow-500);
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: #ffffff;
  color: #1f2937;
  /* Gray-800 */
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}